{% extends "base.html" %} 
{% load static %}

{% block scripts  %}
<script > 

   console.log ('holiiiii')

const video = document.getElementById('video-element')


if (navigator.mediaDevices.getUserMedia){
    navigator.mediaDevices.getUserMedia ({video: true})
    .then ((stream)=>{
        video.srcObject = stream
    })
}
</script>
{% endblock scripts  %}

 {% block content %}
 
 <video autoplay= "true" id= "video-element"></video>

 <div class= "text-center mt-3">
    <button class="btn btn-primary" id= "capture-btn">tomar foto</button>
    <button class="btn btn-info" id= "reload-btn">recargar</button>

 </div>   
 
 
 {% endblock content %}
